<main>
  <div *ngIf="!student.name; then loading; else notLoading"></div>
  <ng-template #loading> <app-spinner></app-spinner></ng-template>
  <ng-template #notLoading>
    <div class="heading">
      <h1 class="heading-rank">
        {{ rank }}<sup>{{ calculateSuperScript(rank) }}</sup> Rank
        <span> - </span>
      </h1>
      <h1 class="heading-name">
        {{ student.name }}
      </h1>
    </div>
    <div class="main-container">
      <div class="container-1">
        <div class="sub-container">
          <img [src]="getProfilePicture(usn)" alt="profile-picture" />
          <table>
            <tr>
              <th>Name :</th>
              <td>{{ student.name }}</td>
            </tr>
            <tr>
              <th>USN :</th>
              <td>{{ student.usn }}</td>
            </tr>
            <tr>
              <th>Semester :</th>
              <td>{{ name }} Semester</td>
            </tr>
            <tr *ngIf="student.cycle">
              <th>Cycle :</th>
              <td>{{ student.cycle }}</td>
            </tr>
            <tr>
              <th>Total Marks :</th>
              <td>{{ student.total }}</td>
            </tr>
            <tr>
              <th>SGPA :</th>
              <td>{{ student.spga }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="container-2">
        <table [cellSpacing]="0">
          <thead>
            <tr>
              <th>Subject</th>
              <th class="subject-code-column">Subject Code</th>
              <th class="ia-column">Internal Assessment</th>
              <th class="ea-column">External Assessment</th>
              <th>Total Marks</th>
            </tr>
          </thead>
          <tbody *ngFor="let subject of student.subjects; let i = index">
            <tr>
              <td>
                {{ student.subjects[i].subject }}
              </td>
              <td class="subject-code-column">
                {{ student.subjects[i].subject_code }}
              </td>
              <td class="ia-column">
                {{ student.subjects[i].int_marks }}
              </td>
              <td class="ea-column">
                {{ student.subjects[i].ext_marks }}
              </td>
              <td
                [style]="
                  student.subjects[i].total_marks === 100
                    ? { color: '#ffbb00', 'font-weight': 'bold' }
                    : {
                        color: 'white'
                      }
                "
                class="marks-table-data"
              >
                {{ student.subjects[i].total_marks }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>
</main>
