<div class="main">
    <h1 class="heading head-font">About Us</h1>

    <div class="dev-div">
        <div class="hover-text">
            <img class="dev-image" style="cursor: pointer;" src="../../../assets/Devs/soorya.jpg" alt="dev-pics">
            <span style="left: 375px;" class="tooltip-text">Soorya U</span>
        </div>
        <div class="hover-text">
            <img class="dev-image" style="cursor: pointer;" src="../../../assets/Devs/saanvi.jpg" alt="dev-pics">
            <span style="left: 470px;" class="tooltip-text">Saanvi MJ</span>
        </div>
        <div class="hover-text">
            <img class="dev-image" style="cursor: pointer;" src="../../../assets/Devs/devi.jpg" alt="dev-pics">
            <span style="left: 575px;" class="tooltip-text">Devika M</span>
        </div>
        <div class="hover-text">
            <img class="dev-image" style="cursor: pointer;" src="../../../assets/Devs/aish.jpg" alt="dev-pics">
            <span style="left: 665px;" class="tooltip-text">Aishwarya HA</span>
        </div>
        <div class="hover-text">
            <img class="dev-image" style="cursor: pointer;" src="../../../assets/Devs/taneen.jpg" alt="dev-pics">
            <span style="left: 740px;" class="tooltip-text">Syeda Taneen Falak</span>
        </div>
        <div class="hover-text">
            <img class="dev-image" style="cursor: pointer;" src="../../../assets/Devs/afifa.jpg" alt="dev-pics">
            <span style="left: 890px;" class="tooltip-text">Afifa</span>
        </div>
        <div class="hover-text">
            <img class="dev-image" style="cursor: pointer;" src="../../../assets/Devs/pratham.jpg" alt="dev-pics">
            <span style="left: 970px;" class="tooltip-text">Pratham KR</span>
        </div>
        <div class="hover-text">
            <img class="dev-image" style="cursor: pointer;" src="../../../assets/Devs/yashaswini.jpg" alt="dev-pics">
            <span style="left: 1065px;" class="tooltip-text">Yashaswini KV</span>
        </div>
    </div>

    <div class="article">
        We the Students of AIML department, group of 8 members have Developed a Website named <span style="font-family: 'Audiowide'">elite-AIML</span> on listing Top 10 Student Marks of 2021-2025 batch.
    </div>
    <div class="article">
        We are presently pursuing in Forth semester & being a first batch
        students of AIML department in AIT college Chikkamagaluru.
    </div>

    <div class="article">
        We would specially like to thank our respected Head of the Department <b>Dr.Sunitha M R</b> and Class-Coordinator <b>Prof.Sathyabhama R</b> for their Guidance and Teammates for stretching Hands in Each and Every Task and Making this Website Successful.
    </div>
    <div class="article">
        For more info
        Contact Us<br><b>elite-aImL@gmail.com</b>
    </div>

    <img src="../../../assets/logo_medias.png" alt="media" class="center" style="cursor:pointer;width: 12vw;">
</div>