<main>
  <h1>About Us</h1>

  <div class="article-1">
    We the Students of AIML department, group of 8 members have Developed a
    Webpage named <span>elite-AIML</span> on listing Top 10 Student Marks of
    2021-2025 batch.
  </div>
  <h2>Contributers</h2>

  <div class="dev-div">
    <div class="hover-img">
      <img
        src="../../../assets/devs/soorya.jpg"
        alt="Soorya U"
      />
      <span class="span-1">Soorya U</span>
    </div>
    <div class="hover-img">
      <img
        src="../../../assets/devs/saanvi.jpg"
        alt="Saanvi MJ"
      />
      <span class="span-2">Saanvi MJ</span>
    </div>
    <div class="hover-img">
      <img
        src="../../../assets/devs/devi.jpg"
        alt="Devika M"
      />
      <span class="span-3">Devika M</span>
    </div>
    <div class="hover-img">
      <img
        src="../../../assets/devs/aish.jpg"
        alt="Aishwarya HA"
      />
      <span class="span-4">Aishwarya HA</span>
    </div>
    <div class="hover-img">
      <img
        src="../../../assets/devs/taneen.jpg"
        alt="Syeda Taneen Falak"
      />
      <span class="span-5">Syeda Taneen</span>
    </div>
    <div class="hover-img">
      <img
        src="../../../assets/devs/pratham.jpg"
        alt="Pratham KR"
      />
      <span class="span-6">Pratham KR</span>
    </div>
    <div class="hover-img">
      <img
        src="../../../assets/devs/afifa.jpg"
        alt="Afifa"
      />
      <span class="span-7">Afifa Hanif</span>
    </div>
    <div class="hover-img">
      <img
        src="../../../assets/devs/yashaswini.jpg"
        alt="Yashaswini KV"
      />
      <span class="span-8">Yashaswini KV</span>
    </div>
  </div>

  <div class="article-2">
    <h2>Contact Our Team</h2>
    <a href="mailto:alphatechpvt18@gmail.com?bcc=sooryau7@gmail.com"
      ><b>Alpha Tech</b></a
    >
  </div>
</main>
