@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 2px solid white;
  background-color: rgba(0, 0, 0, 0.25);

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .nav-child-1 {
    display: flex;
    margin-left: 2rem;
    width: 50%;

    .navbar-nav {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      gap: 4.2rem;
      flex-shrink: 0;

      .nav-item {
        font-size: 1rem;
        position: relative;

        .hover-text {
          @include no-select();

          .nav-image {
            height: 2.5rem;
          }

          .tooltip-text {
            visibility: hidden;
            position: absolute;
            z-index: 1;
            color: white;
            background-color: rgba(0, 0, 0, 0.25);
            border: 2px solid white;
            border-radius: 0.8rem;
            font-size: 0.8rem;
            padding: 0.3rem;
            left: 105%;
            bottom: 50%;
          }

          .tooltip-text-dept {
            left: 130%;
          }

          &:hover {
            .nav-image {
              transform: scale(1.2);
              filter: drop-shadow(5px 5px 10px white);
              transition: filter 0.15s linear, transform 0.15s linear;
            }

            i {
              font-size: 0.8rem;
              transition: font-size 0.15s linear;
            }

            .tooltip-text {
              visibility: visible;
            }
          }
        }

        .dropdown-button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.2rem;
        }

        .dropdown-content {
          @include no-select();

          flex-direction: column;
          justify-content: space-evenly;
          width: 10vw;
          height: 15vh;
          list-style: none;
          position: absolute;
          border: 2px solid white;
          border-radius: 0.32rem;
          text-align: center;
          z-index: 3;
          background-color: rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(1000px);
          top: 120%;

          .dropdown-item {
            font-size: 1rem;
            @include no-select();
          }
        }
      }
    }
  }

  .nav-child-2 {
    width: 50%;
    margin-right: 2rem;
    text-align: end;

    h1 {
      @include no-select();

      .nav-brand {
        font-family: "Audiowide";
        font-size: 2rem;
        font-weight: normal;
      }
    }
  }
}

@media (max-width: 680px) {
  nav {
    padding: 0.75rem;
    .nav-child-1 {
      width: 100vw;
      margin: 0 1rem;

      .navbar-nav {
        justify-content: center;
        gap: 15%;
        .nav-item {
          .hover-text {
            .nav-image {
              height: 1.75rem;
            }
            .tooltip-text {
              display: none;
            }
          }
        }
      }
    }
    .nav-child-2 {
      display: none;
    }
  }
}

@media (max-width: 1400px) {
  nav {
    .nav-child-1 {
      .navbar-nav {
        .nav-item {
          .dropdown-content {
            width: 137px;
          }
        }
      }
    }
  }
}

@media (max-height: 550px) {
  nav {
    .nav-child-1 {
      .navbar-nav {
        .nav-item {
          .dropdown-content {
            height: 82px;
          }
        }
      }
    }
  }
}

@media (max-width: 300px) {
  nav {
    padding: 1rem 0.75rem;
    .nav-child-1 {
      width: 100vw;
      margin: 0;
    }
  }
}
