<nav class="navbar">
    <div class="nav-child-1">
        <h1 class="navbar-brand no-select">Top 10 List</h1>
    </div>
    <div class="nav-child-2">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/" class="nav-link active no-select" aria-current="page">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-button no-select" (click)="toggleDropdown()" data-bs-toggle="dropdown"
                    aria-expanded="false" style="cursor:pointer">
                    Results<i class="bi bi-caret-down-fill"></i>
                </a>
                <ul class="no-select dropdown-content"
                    [ngStyle]="{'display': isDropdownOpen ? 'block' : 'none'}">
                    <li><a style="cursor:pointer" id="first-sem"(click)="subRouter($event)" class="dropdown-item no-select">First Semester</a></li>
                    <li><a style="cursor:pointer" id="sec-sem" (click)="subRouter($event)" class="dropdown-item no-select">Second Semester</a></li>
                    <li><a style="cursor:pointer" id="third-sem" (click)="subRouter($event)" class="dropdown-item no-select">Third Semester</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link active no-select" aria-current="page">About</a>
            </li>
        </ul>
    </div>
</nav>