nav {
    display: flex;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 2px solid black;
}

h1 {
    font-size: 25px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 19.2vw;
}

.nav-child-2 {
    margin-left: 30px;
}

.nav-item {
    font-size: 25px;
}

i {
    font-size: 15px;
    padding-left: 2px;
}

.dropdown-content{
    list-style: none;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 15px;
    margin: 7px 25px;
    z-index: 3;
}

.dropdown-item{
    font-size: 15px;
}

a{
    text-decoration: none;
    color: black;
}

*{
    background-color: #42cbf5;
}