<header>
  <nav>
    <div class="nav-child-1">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLink="/" class="hover-text">
            <img
              class="nav-image"
              src="https://soorya-u.github.io/Elite-AIML/assets/home.png"
            />
            <span class="tooltip-text">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="hover-text dropdown-button" (click)="toggleDropdown()">
            <img
              class="nav-image"
              src="https://soorya-u.github.io/Elite-AIML/assets/results.png"
            />
            <span class="tooltip-text">Result</span>
            <i class="bi bi-caret-down-fill"></i>
          </a>
          <ul
            class="dropdown-content"
            [ngStyle]="{
              display: isDropdownOpen ? 'flex' : 'none'
            }"
          >
            <li>
              <a
                id="first-sem"
                (click)="subRouter($event)"
                class="dropdown-item"
                >First Semester</a
              >
            </li>
            <li>
              <a id="sec-sem" (click)="subRouter($event)" class="dropdown-item"
                >Second Semester</a
              >
            </li>
            <li>
              <a
                id="third-sem"
                (click)="subRouter($event)"
                class="dropdown-item"
                >Third Semester</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="hover-text" routerLink="/department">
            <img
              class="nav-image"
              src="https://soorya-u.github.io/Elite-AIML/assets/department.png"
            />
            <span class="tooltip-text tooltip-text-dept">AIML</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="hover-text" routerLink="/about">
            <img
              class="nav-image"
              src="https://soorya-u.github.io/Elite-AIML/assets/about.png"
            />
            <span class="tooltip-text">About</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-child-2">
      <h1>
        <a
          class="nav-brand"
          target="_blank"
          href="https://github.com/soorya-u/Elite-AIML"
          >elite-AIML</a
        >
      </h1>
    </div>
  </nav>
</header>
