.container{
    width: 90vw;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content{
    align-self: flex-start;
    text-align: justify;
    font-size: 20px;
    margin-top: 30px;
}