@mixin head-font() {
  font-family: "Poppins";
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;

  &::before, &::after {
    content: "";
  }

  .heading {
    // margin-top: 1.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    h1 {
      font-family: "Audiowide";
      font-size: 3rem;
      font-weight: normal;
      text-align: center;
    }

    img {
      filter: invert(100%);
      height: 7rem;
    }
  }
  article {
    text-align: justify;
    font-size: 1.25rem;
    width: 90vw;
    margin: auto;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: normal;
    text-align: center;
    align-self: center;
    @include head-font();
  }
  ul {
    li {
        list-style: none;
    }
  }
}
