<div class="container">
    <h1 class="heading head-font">
        Department of <br>
        Artificial Intelligence and Machine Learning</h1>
    <img src="../../../assets/department-logo.png" alt="dept logo">
    <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus vero tempora, exercitationem tempore nulla porro. Natus debitis enim recusandae suscipit sit, tempore dolorum quo tenetur illum, maxime hic aliquam eos dignissimos. Reiciendis iusto totam saepe quae rerum iste eum aliquid magnam laudantium, veniam quod maxime molestiae? Maxime ab rerum quasi non dolor? Earum, porro laborum, nam sint quibusdam tempore consequuntur quisquam debitis quas officiis voluptas velit esse impedit beatae? Esse a, atque vero beatae accusantium natus laborum adipisci perspiciatis iste laboriosam! Dolore nam eos quisquam blanditiis minima culpa magnam ullam perspiciatis error? Reprehenderit itaque labore, optio ut aperiam voluptas?</p>
    <div class="footer">
        <div class="first-footer">
            <b>HOD of Department</b>
            <p>Dr. Sunitha MR</p>
        </div>
        <div class="second-footer">
            <b>Class Co-ordinator</b>
            <p>Ms. Sathyabhama</p>
        </div>
    </div>
</div>