<div class="container">
    <div class="header">
        <h1 class="heading head-font">
            Department of <br>
            Artificial Intelligence and Machine Learning</h1>
        <img src="../../../assets/department-logo.png" alt="dept logo">
    </div>
    <div class="main">
        <p class="content">
            The Department of Artificial Intelligence and Machine Learning was established in the Academic year
            2021-2022
            with an Intake of 65 Students. Artificial intelligence (AI) is the emerging Field of Computer Science and
            Engineering having an Influence on Conventional knowledge Acquisition, Processing, and Inference. AI defines
            the
            world by building Self-learning and Decision-making Machines learning through Experience. AI is to build
            simulations of Human Intelligence on Machines. In achieving Machine Intelligence, Machine Learning (ML)
            plays a
            vital role. Hence AI & ML are bought Together.</p>
        <h2 class="head-font" style="text-align: left;">
            Vision
        </h2>
        <p class="content">To Achieve excellent standards of quality education in Artificial Intelligence and Machine
            Learning to cater
            the needs of emerging fields.</p>
        <h2 class="head-font" style="text-align: left;">
            Mission
        </h2>
        <div class="content">

            <i class="bi bi-arrow-right"></i> To nurture students with strong fundamentals in the stream of Artificial
            Intelligence and Machine Learning for their successful Career.
            <br>

            <i class="bi bi-arrow-right"></i> To build a Conducive Environment to learn Professional and Technical
            Skills through value based Education
            <br>

            <i class="bi bi-arrow-right"></i> To Enrich and Empower students caliber to Contribute towards Research and
            Innovations

        </div>
    </div>
    <div class="footer">
        <div class="first-footer">
            <b>HOD of Department</b>
            <p>Dr. Sunitha MR</p>
        </div>
        <div class="second-footer">
            <b>Class Co-ordinator</b>
            <p>Ms. Sathyabhama R</p>
        </div>
    </div>
</div>