@mixin head-font() {
  font-family: "Poppins";
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;

  &::before,
  &::after {
    content: "";
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 1rem;

    h1 {
      font-size: 2rem;
      text-align: center;
      @include head-font();
    }
    img {
      height: 8rem;
      filter: invert(100%);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 0 1rem;
    
    article {
      text-align: justify;
      width: 90vw;
      font-size: larger;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        li {
          list-style: none;
        }
      }
    }

    h2 {
      @include head-font();
      text-align: left;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  width: 80vw;

  .first-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    b, p {
      text-align: center;
    }
  }

  .second-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;

    b, p {
      text-align: center;
    }
  }
}

@media (max-width:500px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}