.container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    margin-bottom: 30px;
}

a{
    text-decoration: none;
    color: black;
}


.main-table {
    width:80vw;
    height: 70vh;
    border: 0.5px solid black;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.main-table-data{
    border: 0.5px solid #ccc;
    padding: 5px 15px;
    text-align: center;
}
.main-table-heading{
    border: 0.5px solid #ccc;
    padding: 15px 15px;
    text-align: center;
}



/* table {
    width: 80%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;   
}



Define column widths

th:nth-child(1),
td:nth-child(1) {
    width: 1%;
}

th:nth-child(2),
td:nth-child(2) {
    width: 40%;
}

th:nth-child(3),
td:nth-child(3) {
    width: 4    0%;
}

th:nth-child(4),
td:nth-child(4) {
    width: 10%;
} */