.container {
    width: 25vw;
    height: 70vh;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;

}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container-2 {
    width: 50vw;
    height: 70vh;
}

.marks-table {
    width: 50vw;
    height: 70vh;
    border: 0.5px solid white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.marks-table-data,.marks-table-heading{
    border: 0.5px solid #a2a2a2;
    padding: 5px 15px;
    text-align: center;
}

.profile-photo {
    height: 40vh;
    margin: 0 auto;
    border-radius: 1000px;
    border: 3px solid #a2a2a2;

}

.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 100vw;
    background-color: transparent;
}

.detail-table-heading {
    text-align: right;
    padding: 1px 10px;
}

.detail-table-data {
    text-align: left;
}