<ng-container *ngFor="let item of [].constructor(10); let i = index">
    <ng-container *ngIf="usn===data?.rank[i].usn.substring(7,10)">
        <h1>{{i+1}}<sup class="head-font">{{calculateSuperScript(i+1)}}</sup> Rank - {{data?.rank[i].name}}</h1>
        <div class="main">
            <div class="blur-effect container">
                <img [src]="'../../../assets/'+usn+'.jpg'" class="profile-photo" alt="profile-picture">
                <table class="detail-table">
                    <tr class="detail-table-row">
                        <th class="detail-table-heading">Name :</th>
                        <td class="detail-table-data">{{data?.rank[i].name}}</td>
                    </tr>
                    <tr class="detail-table-row">
                        <th class="detail-table-heading">USN :</th>
                        <td class="detail-table-data">{{data?.rank[i].usn}}</td>
                    </tr>
                    <tr class="detail-table-row">
                        <th class="detail-table-heading">Semester :</th>
                        <td class="detail-table-data">{{name}} Semester</td>
                    </tr>
                    <tr class="detail-table-row" *ngIf="is_first_or_second">
                        <th class="detail-table-heading">Cycle :</th>
                        <td class="detail-table-data">{{data?.rank[i].cycle}}</td>
                    </tr>
                    <tr class="detail-table-row">
                        <th class="detail-table-heading">Total Marks :</th>
                        <td class="detail-table-data">{{data?.rank[i].total}}</td>
                    </tr>
                    <tr class="detail-table-row">
                        <th class="detail-table-heading">SGPA :</th>
                        <td class="detail-table-data">{{data?.rank[i].spga}}</td>
                    </tr>
                </table>
            </div>
            <div class="container-2">
                <table [cellSpacing]="0" class="marks-table">
                    <thead>
                        <tr class="marks-table-row">
                            <th class="blur-effect marks-table-heading">Subject</th>
                            <th class="blur-effect marks-table-heading">Subject Code</th>
                            <th class="blur-effect marks-table-heading">Internal Assessment</th>
                            <th class="blur-effect marks-table-heading">External Assessment</th>
                            <th class="blur-effect marks-table-heading">Total Marks</th>
                        </tr>
                    </thead>
                    <!-- <ng-template *ngIf="is_first_or_second; else newDeb"> -->
                    <tbody *ngFor="let item of [].constructor(is_first_or_second? 9:8); let i = index">
                        <tr class="marks-table-row">
                            <td class="blur-effect marks-table-data">{{data?.rank[i].subjects[i].subject}}</td>
                            <td class="blur-effect marks-table-data">{{data?.rank[i].subjects[i].subject_code}}</td>
                            <td class="blur-effect marks-table-data">{{data?.rank[i].subjects[i].int_marks}}</td>
                            <td class="blur-effect marks-table-data">{{data?.rank[i].subjects[i].ext_marks}}</td>
                            <td [style]="data?.rank[i].subjects[i].total_marks===100?'color:#ffbb00;font-weight:bold;':'color:white'" class="blur-effect marks-table-data">{{data?.rank[i].subjects[i].total_marks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
</ng-container>