@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
